<% provide(:title, "About") %>
<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.png" %>
  </div>
  
  <div id="content">
    <h1>About me</h1>
    <p>Hi my name is {REDACTED} and I'm on my way to becoming a full stack developer.
       As of right now i'm working mostly on rails though I have dabbled in HTML/CSS as well.
       I'm trying to become more proficient with rails and back end in general before I 
       move back to front end development.</p>  
       
    <p>When i'm not trying to learn about new technologies and web development in general
       I enjoy playing Vidya Gaems.</p>
  </div>
</div>